@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Playfair+Display&family=Raleway:wght@200&display=swap');
*{
  font-family: 'Fasthand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-size: 15px;
}
/*logo y nombre de la pagina*/
.barrainicio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(180, 53, 53);
  padding: 10px;
}
.logo{
  height: 70px;
  margin-right: 10px;
}
.logo-barra{
  display: flex;
  align-items: center;
}
.titulobarra{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 25px;
 color: rgb(197, 193, 193);
 margin: 10px;
 padding: 10px;
}
/*propiedades de la barra y el boton busqueda*/
.botones-barrabusqueda{
  flex-grow: 1;
  margin: 0 10px;
}
form{
  display: flex;
  align-items: center;
  width: 1300px;
}
button[ type="submit"]{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(87, 14, 14);
  color: white;
  font-size: 16px;
  margin-left: 10px ;
}
.busqueda {
 padding: 10px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  flex-grow: 1;
  padding-left: 10px;
  display: flex;
  align-items: center;

}
/*propiedades del botos buscar*/
.botonprueba{
padding: 10px;
border-bottom: 15px;
margin: 15px;
box-shadow: 6px 6px 6px black;
animation-iteration-count: infinite;
animation-duration: 2s;

}
.botonprueba:hover{

  font-weight: bold;
  transform: scale(1.01) translate(1px) ;
  transition: 0.3s;
 
}
/*el apartado del menu*/
.menu{
  display: flex;
  align-items: center;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation-iteration-count: infinite;
  animation-duration: 2s;


}
.menu-item:hover{
  transform: scale(1.18);
  transition: 0.3s;
}
/*termina lo que es la barra de busqueda con el menu y logo*/
/*grilla que contiene fotos y informacion*/
.grid-padre {  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 200px 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 1px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "titulo titulo titulo"
    "peli1 peli2 peli3"
    "peli4 peli5 peli6"
    "comentario comentario comentario";
}

.titulo { grid-area: titulo; }

.peli1 { grid-area: peli1; }

.peli2 { grid-area: peli2; }

.peli3 { grid-area: peli3; }

.peli4 { grid-area: peli4; }

.peli5 { grid-area: peli5; }

.peli6 { grid-area: peli6; }

.comentario { grid-area: comentario; }
.tamaño{
  height: 250px ;
  width: 250px ;
  padding: 10px;
  margin: 0px;
}
.titulo{
  display: flex;
  align-items: centers;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100px;
}
.lugar{
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.organizar{
  display: flex;
  flex-direction: column;
}
.tituloo{
  height: 50px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ver-mas{
  width: 200px;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
 box-shadow: 7px 7px 7px gray;
   animation-name: agrandar ;
   animation-iteration-count: infinite;
   animation-duration: 0.3s ;
}
.ver-mas:hover{
  background-color:white;
  color: black;
  font-weight: bold;
  transform: scale(1.05);
  transition: .4s;
}
.comentarioinicio{
  height: 250px;
  background-color: wheat;
  border: 2px solid black;
  padding: 10px;
  position: absolute;
  top: 1200px;
  width: 1850px;
  display: flex;
}
.acomodar{
  display: flex;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}
.sec{
  padding: 10px;
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
.color{
 background-color: rgb(45, 54, 54);
}
/*pagina de peliculas*/
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.25fr 1.25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "peliculas peliculas peliculas"
    "pelicula1 pelicula2 pelicula3"
    "pelicula4 pelicula5 pelicula6";
}

.peliculas { grid-area: peliculas; 
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 70px;
}

.pelicula1 { grid-area: pelicula1;

display: flex;
flex-direction: row;

 }

.pelicula2 { grid-area: pelicula2; 

display: flex;
flex-direction: row;}

.pelicula3 { grid-area: pelicula3; 

display: flex;
flex-direction: row;
}

.pelicula4 { grid-area: pelicula4;
display: flex;
flex-direction: row;}

.pelicula5 { grid-area: pelicula5;  
display: flex;
flex-direction: row;
}

.pelicula6 { grid-area: pelicula6; 
display: flex;
flex-direction: row;
 }

.mejora{
  margin: 0px;
  padding: opx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*series*/
.seires-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.25fr 1.25fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "seires seires seires"
    "serie1 serie2 serie3"
    "serie4 serie5 serie6";
}

.seires { grid-area: seires; 
display: flex;
justify-content: center;
align-items: center;}

.serie1 { grid-area: serie1; 
display: flex;
flex-direction: row;}

.serie2 { grid-area: serie2;
display: flex;
flex-direction: row; }

.serie3 { grid-area: serie3;

display: flex;
flex-direction: row; }

.serie4 { grid-area: serie4;
display: flex;
flex-direction: row; }

.serie5 { grid-area: serie5; 
display: flex;
flex-direction: row;}

.serie6 { grid-area: serie6;
display: flex;
flex-direction: row; }
.comentario-container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "comentario dejar";
}

.comentario { grid-area: comentario; }

.dejar { grid-area: dejar; }

/*anime*/
.anime-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.25fr 1.25fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "anime anime anime"
    "anime1 anime2 anime3"
    "anime4 anime5 anime6";
}

.anime { grid-area: anime;
display: flex;
justify-content: center;
align-items: center;
 }

.anime1 { grid-area: anime1;
  display: flex;
  flex-direction: row;
 }

.anime2 { grid-area: anime2;
  display: flex;
  flex-direction: row;
 }

.anime3 { grid-area: anime3;
display: flex;
flex-direction: row; }

.anime4 { grid-area: anime4;
display: flex;
flex-direction: row; }

.anime5 { grid-area: anime5;
display: flex;
flex-direction: row; }

.anime6 { grid-area: anime6;
display: flex;
flex-direction: row; }
/*comentario*/
.comen-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". hace-un-comentario ."
    "proximamente-2 sectio proximamente"
    "proximamente-2 sectio proximamente";
}

.hace-un-comentario { grid-area: hace-un-comentario; 
 }

.sectio { grid-area: sectio;
; }

.proximamente { grid-area: proximamente;

display: flex;
flex-direction: column; }

.proximamente-2 { grid-area: proximamente-2;
 }
.formulario{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
.separar{
  margin: 10px;
  padding: 10px;
}
.pro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coment-container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "comentario dejar";
}

.comentario { grid-area: comentario;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
background-color: wheat}

.dejar { grid-area: dejar;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
background-color: wheat }

.grandee{
  font-size: 25px;
transform: scale(1.1);
}
@media(max-width:600px ) {
  .logo{
    height: 40px;
    margin-right: 2px;
   }
   .barrainicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(180, 53, 53);
    padding: 4px;
     height: 25vh;}
    
    .titulobarra{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
   color: rgb(197, 193, 193);
   margin: 2px;
   padding: 2px;}
   form{
    display: flex;
    align-items: flex-start;
    width: 5vw;
  }
  .menu{
    position: absolute;
    left: 95px;
    bottom: 360px;
  }
  .container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "peliculas"
      "pelicula1"
      "pelicula2"
      "pelicula3"
      "pelicula4"
      "pelicula5"
      "pelicula6";
  }
  
  .peliculas { grid-area: peliculas; }
  
  .pelicula1 { grid-area: pelicula1; }
  
  .pelicula2 { grid-area: pelicula2; }
  
  .pelicula3 { grid-area: pelicula3; }
  
  .pelicula4 { grid-area: pelicula4; }
  
  .pelicula5 { grid-area: pelicula5; }
  
  .pelicula6 { grid-area: pelicula6; }
  
  .anime-container {  display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .anime { grid-area: 1 / 1 / 2 / 2; }
  
  .anime1 { grid-area: 2 / 1 / 3 / 2; }
  
  .anime2 { grid-area: 3 / 1 / 4 / 2; }
  
  .anime3 { grid-area: 4 / 1 / 5 / 2; }
  
  .anime4 { grid-area: 5 / 1 / 6 / 2; }
  
  .anime5 { grid-area: 6 / 1 / 7 / 2; }
  
  .anime6 { grid-area: 7 / 1 / 8 / 2; }
  

}